#header
{
	margin: 0px;
	height: 100px;
	width: 100%;
	
	background-color: #16A085

}

#middle
{

	visibility: visible;
	height: 450px;
	width: 100%;
	background: url('img2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-top: -20px;
}
.img
{
	height: 100px;
	width: 200px;
	float: left;
}

.nav{
	float: right;
	list-style-type: none;
	display: inline;
}
.navlink{
	display: inline;
	padding: 10px;
	background-color: #da70d6;
	text-transform: uppercase;
	font-weight: bold;
}

.nava{
	text-decoration: none;
	color: #fff;
}
ul> .navlink:hover{
	border-radius: 50%;
}

#footer
{

	position: absolute;
	clear: both;
	width:100%;
	background-color: #A17917

}

.foodiv{
	padding:20px;
	float: left;
	color: #fff;
	width: 250px;
	margin: 50px;
}
